{% extends 'base.html' %}

{% block title %} Index {% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <div class="v0_3">
        <div class="v3_28">
            <div class="v2_3"></div>
            <div class="v3_20">
                <div class="v2_4"></div>
                <span class="v2_5">100€</span>
            </div>
            <div class="v3_19">
                <div class="v2_7"></div>
                <span class="v2_8">Last activity</span>
                <div class="v2_9"></div>
                <div class="v3_14">
                    <div class="v2_11"></div>
                    <span class="v3_12">Name</span>
                    <span class="v3_13">Date - Received / Send</span>
                </div>
                <div class="v3_15">
                    <div class="v3_16"></div>
                    <span class="v3_17">Name</span>
                    <span class="v3_18">Date - Received / Send</span>
                </div>
            </div>
            <div class="v3_27">
                <div class="v3_21"></div>
                <span class="v3_22">Name of account</span>
                <span class="v3_23">Email</span>
            </div>
        </div>
    </div>
{% endblock %}